<!DOCTYPE html>
<html>
<head>
  <title>成功</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="hosting.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

<video src="video.ogv" controls="" width="240" height="180" autoplay muted loop>非対応</video>

<div id="app">
    <input type="text" v-model="name">
    <div>Hello {{name}}！</div>
</div>

<div id="my_app">
  <p>
    New task:
    <input type="text"  v-model="newtask">
    <input type="text"  v-model="newtask">
    <button v-on:click="addTask()">追加</button>
    <button v-on:click="change()">変更</button>
  </p>
  <hr>
  <ul>

    <li v-for="(todo,i) in todos">
      <input type="checkbox" v-model="todo.isCompleted">
      <span v-bind:class="{'complete': todo.isCompleted}">{{i}}{{todo.task}}</span>
      <button @click="deleteTodo(todo)">消去</button>
    </li>
  </ul>
  <p>Remaining Tasks {{remains}}/{{todos.length}}</p>

  <svg  v-if="seen"　height="60" width="200">
      <rect x="5" y="5" rx="20" ry="20" width="150" height="50" style="fill:red;stroke:black;stroke-width:5;opacity:0.6" />
      <text x="35" y="37" >{{newtask}}</text>
  </svg>

  
  <span v-for="n in 10">{{ n+1 }} </span>
 


  <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
  <label for="jack">Jack</label>
  <input type="checkbox" id="john" value="John" v-model="checkedNames">
  <label for="john">John</label>
  <span>Checked names: {{ checkedNames }}</span>
  <input type="color">
  <input type="checkbox" v-model="approve" @change="approve = true">
  承認
  </input>


<input type="text" id="input">
<p id="output"></p>


<div class="teacherLabel">講師一覧</div>
<div class="triangle"></div>
<div class="buttons">
  <a v-on:click = "changeTeacher(1)">1</a>
  <a v-on:click = "changeTeacher(2)">2</a>
  <a v-on:click = "changeTeacher(3)">3</a>
  <a v-on:click = "changeTeacher(4)">4</a>
  <a v-on:click = "changeTeacher(5)">5</a>
</div>

<div class="flexbox">
</div>
<p>{{ teacherNumber }}</p>
<h1 id="h1">続きを見る</h1>

</div>


<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js'></script>
<script type="text/javascript">

var vue_example = new Vue({
  el: '#app',
  data: {
    name: 'world'
  },
});

new Vue({
  el: '#my_app',
  data: {
    todos:[{task: "牛乳を買う", isCompleted: false}],
    newtask: '',
    seen: true,
    checkedNames: [],
    approve: false,
    teacherNumber: 0
  },
  methods: {
    addTask: function() {
      if (this.newtask == '') {
        return;
      }
      this.todos.push({
        task: this.newtask,
        isCompleted: false
      });
      this.newtask = '';
      this.seen = false
    },
    deleteTodo: function(todo) {
      // this.todos.$remove(todo);
      var index = this.todos.indexOf(todo)
      this.todos.splice(index, 1)
    },
    change: function() {
      // this.todos[1] = {task: "ああああああああ", isCompleted: false};
      // Vue.set(this.todos, 1, "い");
      this.todos.splice(1,1,{task: "bbbb", isCompleted: false});

    },
    changeTeacher: function(i) {
      this.teacherNumber = i;
    }
  },
  computed: {
    remains: function() {
      var count = 0
      for(var i=0; i<this.todos.length; i++) {
        if(!this.todos[i].isCompleted) {
          count++;
        }
      }
      return count
    }
  }
});

  $(function() {
    $("#h2").click(function(){
    $(this).text("jqueryに成功");
  })

  var $input = $('#input');
  var $output = $('#output');
$input.on('input', function(event) {
  var value = $input.val();
  $output.text(value);
});


  });

var loadNumber = 0;
var data;
document.getElementById("h1").onclick = function() {
    console.log("click");

    var request = new XMLHttpRequest();
    request.open('GET',"https://3l3lsb42w0.execute-api.us-east-2.amazonaws.com/dev/teachershosting");
    request.responseType = 'json';
    request.onload = function () {
      data = this.response;
      const teacherArray = document.querySelectorAll(".teacher");
      console.log(data);
      const count = data["Count"];
      addImage(data);
    };
    
    if (loadNumber == 0) {
      request.send();
    }
    else {
      //限界まで読み取ったかを判定する仕組みが欲しいな　
      addImage(data);
    }
    
    

    // var request = new XMLHttpRequest();
    // request.open('GET',"https://3l3lsb42w0.execute-api.us-east-2.amazonaws.com/dev/getimage");
    // request.responseType = 'arraybuffer';
    // request.onload = function () {
    //   var data = this.response;
    //   var bytes = new Uint8Array(data);
    //   var binaryData = "";
    //   for (var i = 0, len = bytes.byteLength; i < len; i++) {
    //     binaryData += String.fromCharCode(bytes[i]);
    //   }
    //   console.log(window.btoa(binaryData));
    //   var img = document.getElementById("img1");
    //   img.src = "data:image/jpeg;base64," + window.btoa(binaryData);
    // };

    // request.send();
    //12345678910みたいな感じで切り替えさせるのが一番無難でVueも使える方法だと思う

  };

  function addImage(data) {
    console.log()
    for(var i=loadNumber * 10; i<loadNumber * 10 + 10; i++) {
        console.log(teacherNumber);
        if (!data["Items"][i]) {
          console.log("none");
          document.getElementById("h1").style.display = "none";
          break;
        }
          

        var teacher = document.createElement("div");
        teacher.setAttribute("class","teacher");
        var teacherImage = document.createElement("img");
        teacherImage.setAttribute("class","teacher__img");

        var src = "https://3l3lsb42w0.execute-api.us-east-2.amazonaws.com/dev/getimage?email=" + data["Items"][i]["email"] + ".jpg"
        teacherImage.setAttribute("src", src);
        teacher.appendChild(teacherImage)
        var teacherN = document.createElement("p");
        var teacherI = document.createElement("p");
        teacherN.setAttribute("class", "teacher__name");
        teacherI.setAttribute("class", "teacher__info");
        if (data["Items"][i]["nickName"]) {
          teacherN.innerText = data["Items"][i]["nickName"] + "先生"
        }
        else {
          teacherN.innerText = "ゲスト講師"
        }
        teacherI.innerText = data["Items"][i]["able"] + data["Items"][i]["money"] + data["Items"][i]["live"];
        teacher.appendChild(teacherN);
        teacher.appendChild(teacherI);
        document.querySelector(".flexbox").appendChild(teacher)
      }
      loadNumber+=1
  }
</script>
</body>
</html>
